body {
  background-color: rgba(224, 224, 224, 0.2);
}
.registration-form {
  margin-top: 2.5rem;
  width: 28%;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.registration-form img {
  margin-top: 2rem;
  width: 60%;
  height: 50px;
  object-fit: contain;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.registration-form p {
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  color: rgba(64, 64, 64, 0.7);
  font-weight: bolder;
  font-size: 17px;
  font-family: sans-serif;
}
.registration-form .form {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.registration-form .form-group {
  margin-bottom: 5px;
}
.registration-form input::placeholder {
  font-size: 13px;
}
.registration-form input[type="text"] {
  font-size: 14px;
  padding-top: 20px;
}
.registration-form input[type="email"] {
  font-size: 14px;
  padding-top: 17px;
}
.registration-form input[type="password"] {
  font-size: 14px;
  padding-top: 20px;
  bottom: 3px;
}
.registration-form input[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  height: 33px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #0e93cd;
  outline: none;
  border: none;
  color: white;
}
.registration-form .form-control {
  outline: none !important;
}
.registration-form .data-policy {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: rgba(64, 64, 64, 0.7);
  font-weight: bolder;
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 3rem;
}
.form {
  position: relative;
}
.form label {
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 13px;
  height: 100%;
  width: 100%;
  color: grey;
  pointer-events: none;
}
.content-name {
  position: absolute;
  top: 10px;
  font-size: 13px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, 
.form input:not(:placeholder-shown) + .label-name .content-name {
  transform: translateY(-70%);
  font-size: 12px;
}
.have-an-account {
  margin-top: 0.7rem;
  width: 28%;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 3rem;
}
.have-an-account p {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 1.5rem;
}
.have-an-account a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  color: #6dbfef;
}
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
