body {
  background-color: rgba(224, 224, 224, 0.2);
}
.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(64, 64, 64, 0.3);
  width: 100vw;
}
.navbar-brand {
  margin-left: 10rem;
  margin-right: 15rem;
}
.navbar-brand img {
  width: 105px;
  height: 30px;
  object-fit: contain;
}
.search-form input {
  width: 210px;
  height: 28px;
  padding-left: 80px;
  box-sizing: border-box;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 60px 6px;
  background-color: rgba(224, 224, 224, 0.2);
}
.search-form input:focus {
  padding-left: 30px;
  background-position: 10px 5.5px;
  background-color: rgba(224, 224, 224, 0.2);
}
.search-form input::placeholder {
  font-size: 15px;
}
.main-nav i {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.7);
}
.navbar ul {
  font-family: "Times New Roman", Times, serif;
  color: #202020;
}
.navbar .main-nav {
  gap: 10px;
  margin-right: 10rem;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.3);
}
.dropdown-menu {
  width: 220px;
  height: 200px;
  border: 0.5px solid rgba(255, 255, 255, 0.9);
  outline: none;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}
.dropdown-menu-arrow {
  top: -25px;
  left: 90%;
  width: 0;
  height: 0;
  position: relative;
}
.dropdown-menu i {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
.profile-section {
  margin-left: 15rem;
  margin-top: 8rem;
}
.profile-photo {
  margin-left: 5rem;
}
.profile-section .profile-photo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.3);
}
.profile-name {
  margin-top: 1rem;
  margin-left: -1rem;
}
.profile-name a {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.profile-photo-section {
  position: fixed;
  margin-left: 30rem;
}
.suggestions-for-you {
  margin-top: 3rem;
  margin-left: -5.8rem;
}
.suggestions-for-you h1 {
  font-size: 15px;
  font-weight: bold;
  color: grey;
}
.suggestions-for-you a {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-top: -1.7rem;
  margin-left: -3rem;
}
.card {
  height: 100vh;
}
.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  width: 65vw;
  max-width: 100%;
  max-height: 50vh;
}
.user-avatar img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.3);
  margin-left: -17rem;
}
.user-info {
  line-height: 35px;
  margin-top: -3rem;
  margin-left: 5rem;
}
.user-info .user-name {
  font-size: 35px;
  font-family: sans-serif;
  margin-left: -6rem;
  gap: 20px;
}
.user-info .button {
  outline: none !important;
  border: 1px solid rgba(64, 64, 64, 0.3);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  width: 100px;
  background-color: rgba(224, 224, 224, 0.2);
}
.user-info form button {
  outline: none !important;
  border: 1px solid rgba(64, 64, 64, 0.3);
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  font-family: sans-serif;
  width: 100px;
  color: white;
  background-color: #0e93cd;
  margin-top: -3.2rem;
  margin-left: 5rem;
  position: absolute;
}
.user-info i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
}
.user-info .user-name span {
  font-size: 13px;
}
.user-extra {
  display: flex;
  flex-direction: row;
  margin-left: -6rem;
  gap: 34px;
}
.user-extra span {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.user-extra p {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: normal;
}
.user-extra p a {
  text-decoration: none;
  color: black;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.user-edit-form {
  margin-top: 6rem;
  width: 50%;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.user-edit-form img {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.5);
  margin-bottom: 1rem;
}
.user-edit-form h1 {
  font-size: 21px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 2rem;
  margin-top: 4rem;
}
.user-edit-form button {
  width: 120px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #0e93cd;
  outline: none;
  border: none;
  border-radius: 4px;
}
.user-edit-form button:hover {
  color: white;
}
.user-edit-form legend {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}
.user-edit-form .asteriskField {
  color: red;
}
.user-edit-form label {
  font-size: 18px;
  font-weight: bold;
}
.user-edit-form form input[type="text"] {
  margin-bottom: 1rem;
  width: 400px;
  height: 40px;
  border: 1px solid rgba(64, 64, 64, 0.5);
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: grey;
}
.user-edit-form form input[type="email"] {
  margin-bottom: 1rem;
  width: 400px;
  height: 40px;
  border: 1px solid rgba(64, 64, 64, 0.5);
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: grey;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.profile-users-loop {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1rem;
}
.profile-users-loop img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.5);
}
.suggestions-for-you .see-all {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-top: -7rem;
  margin-left: 16rem;
  position: fixed;
}
.gallery{
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin-top: 5rem;
  margin-left: 6rem;
}
.gallery .box{
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: rgba(202, 217, 228, 0.3);
}
.gallery .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(64, 64, 64, 0.5);
}
#myImg {
  cursor: pointer;
}
#myImg:hover {
  opacity: 0.95;
}
.img-wrapper a {
  position: absolute;
  margin-left: 20px;
  top: 15px;
  display: none;
}
.img-wrapper:hover a {
  display: block;
}
.img-wrapper {
  position: relative;
}