{% extends "instausers/base2.html" %}

{% block content %}

<div class="container-fluid">
    <div class="container user-content">

        <div class="user-avatar" id="profile-image" style="margin-left: 18rem;">
            <img src="{{ object.user.profile.image.url }}" alt="profile-photo">
        </div>

        <div class="user-info">
            <p class="user-name">{{ object.user.username }}&nbsp;&nbsp;
                {% if follow %}
            <form action="{% url 'instausers:follow-profile'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                <button type="submit" style="margin-left: 7rem; background-color: white; color:black; font-size: 14px;">
                    Following&nbsp;<i class="fa fa-check-circle-o" aria-hidden="true"
                        style="color: black; font-size: 13px;"></i></button>
            </form>
            {% else %}
            <form action="{% url 'instausers:follow-profile'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                <button type="submit">Follow</button>
            </form>
            {% endif %}

            <div class="user-extra">

                <p>
                    <span>0</span>&nbsp;posts
                </p>

                <p>
                    <a href=""><span>{{ user.profile.followers.count }}</span>&nbsp;followers</a>
                </p>

                <p>
                    <a href=""><span>0</span>&nbsp;following</a>
                </p>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="width: 65rem; margin-top: 3rem;">

    <div class="user-posts">
        <h1><i class="fa fa-table" aria-hidden="true"></i>&nbsp;POSTS</h1>
    </div>

    <div class="container gallery">
        {% if object.profile_instaposts %}
            {% for post in object.profile_instaposts %}
        <div class="box img-wrapper" data-toggle="modal" data-target="#image{{post.id}}">
            <img src="{{ post.image.url }}" alt="photo" id="myImg">
            <div class="overlay-heart">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
        </div>
        {% endfor %}
        {% else %}
    
        <div class="container no-posts">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <p>No Posts Yet</p>
        </div>
        {% endif %}
    </div>

    {% for post in object.profile_instaposts %}
    <div class="modal fade" id="image{{post.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="image" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <img src="{{post.image.url}}" class="img-fluid" alt="photo">
                    <div class="user-modal-avatar">
                        <img src="{{ post.author.profile.image.url }}">&nbsp;&nbsp;
                        <a class="mr-2" href="">{{ post.author }}</a>
                    </div>

                    <form action="{% url 'instaposts:liked-post'%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">

                        {% if user not in post.likes.all %}

                        <button type="submit">like</button>

                        {% else %}

                        <button type="submit">unlike</button>

                        {% endif %}
                    </form>
                    <strong>{{ post.likes.all.count }} likes</strong>
                </div>
                <div class="modal-footer "></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<div class="container gallery">
    {% if object.profile_instaposts %}
        {% for post in object.profile_instaposts %}
    <div class="box img-wrapper" data-toggle="modal" data-target="#image{{post.id}}">
        <img src="{{ post.image.url }}" alt="photo" id="myImg">
        <div class="overlay-heart">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
    </div>
    {% endfor %}
    {% else %}

    <div class="container no-posts">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <p>No Posts Yet</p>
    </div>
    {% endif %}
</div>