{% extends "instausers/base2.html" %}

{% block content %}

<div class="container user-content">

    <div class="user-avatar" id="profile-image" style="margin-left: 18rem;">
        <img src="{{ object.user.profile.image.url }}" alt="profile-photo">
    </div>

    <div class="user-info">
        <p class="user-name">{{ object.user.username }}&nbsp;&nbsp;
            {% if follow %}
        <form method="POST" action="">
            <input type="hidden" name="profile_pk" value="{{ object.pk }}">
            <button type="submit">{{ following }}</button>
        </form>
        {% else %}
        <input type="hidden" name="profile_pk" value="{{ object.pk }}">
        <button type="submit">Follow</button>
        {% endif %}

        <div class="user-extra">

            <p>
                <span>0</span>&nbsp;posts
            </p>

            <p>
                <a href=""><span>0</span>&nbsp;followers</a>
            </p>

            <p>
                <a href=""><span>0</span>&nbsp;following</a>
            </p>
        </div>
    </div>

    <div class="container posts">
        {% for post in object.profile_instaposts %}
        <div class="post-body">
            {{ post.body }}
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}