{% extends "instausers/base2.html" %}

{% block content %}

<div class="container profile-section">
    <div class="row">
        <div class="col-md-6">
            <h1>hello</h1>
        </div>

        <div class="col-md-6 profile-photo-section">
            <div class="row">
                <div class="col-md-2 profile-photo">
                    <img src="{{ user.profile.image.url }}" alt="profile-photo">
                </div>

                <div class=" container col-md-5 profile-name">
                    <a href="{% url 'user-details'%}">{{ user.username }}</a> <br>

                    <div class="suggestions-for-you">
                        <h1 class="text-muted">Suggestions For You</h1>
                        {% for profile in profiles %}

                        <div class="profile-users-loop">
                            <img src="{{ profile.image.url }}" alt="profile-photo">
                            {{ profile }}
                        </div>

                        <a href="{% url 'instausers:profile-detail' profile.pk%}" style="margin-top: -2.3rem;">
                            <button class="btn" style="margin-left: -2rem; font-size: 14px; color: #0e93cd;">View profile</button>
                        </a>

                        {% endfor %}
                        <a href="" class="see-all">See all</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}