{% extends "instausers/base2.html" %}

{% block content %}

<div class="container profile-section">
    <div class="row">
        <div class="col-md-7" style="margin-top: -2rem; margin-left: -6rem;">
            {% for post in posts %}
            <div class="Instagram-card">
                <div class="Instagram-card-header">
                    <img src="{{post.author.profile.image.url}}" class="Instagram-card-user-image">
                    <a class="Instagram-card-user-name" href="">{{post.author}}</a>
                    <p>{{post.created}}</p>
                </div>

                <div class="Instagram-card-image">
                    <img src="{{post.image.url}}">
                </div>

                <div class="Instagram-card-content">
                    <p class="Likes">
                    <form action="{% url 'instaposts:liked-post'%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">

                        {% if user not in post.likes.all %}

                        <button type="submit">like</button>

                        {% else %}

                        <button type="submit">unlike</button>

                        {% endif %}
                    </form>
                    <strong>{{ post.likes.all.count }} likes</strong>
                    </p>
                    <p>
                        {{ post.body }}
                    </p>
                    <hr>
                </div>

                <div class="Instagram-card-footer">
                    <input class="comments-input" type="text" placeholder="Add comment.."  style="border: none;">
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="col-md-6 profile-photo-section">
            <div class="row">
                <div class="col-md-2 profile-photo">
                    <img src="{{ user.profile.image.url }}" alt="profile-photo">
                </div>

                <div class=" container col-md-5 profile-name">
                    <a href="{% url 'user-details'%}">{{ user.username }}</a> <br>

                    <div class="suggestions-for-you">
                        <h1 class="text-muted">Suggestions For You</h1>
                        {% for profile in profiles %}

                        <div class="profile-users-loop">
                            <img src="{{ profile.image.url }}" alt="profile-photo">
                            {{ profile }}
                        </div>

                        <a href="{% url 'instausers:profile-detail' profile.pk%}" style="margin-top: -2.3rem;">
                            <button class="btn" style="margin-left: -2rem; font-size: 14px; color: #0e93cd;">View
                                profile</button>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}